{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow p-4">
            <h3 class="text-center mb-4">Create Account</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">User Type</label>
                    <select name="user_type" class="form-select border-primary">
                        <option value="rider">Rider</option>
                        <option value="driver">Driver</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}